# Unreal Engine
# *.sln
# *.suo
# *.xcworkspace
# *.xcuserstate
# *.pdb
# *.sqlite3
# *.sqlite3-journal
# *.uproject.user
# /Intermediate/
# /Saved/
# /DerivedDataCache/
# /Build/
# /Binaries/
# /Windows/

# GitIgnore/
# SampleSound/
*.pxc1

